/* GENERAL */
body {
  margin:0;
  padding:0;
}
h1{
  font-size:64px;
  font-family:'Montserrat', sans-serif;
  font-weight:800;
  letter-spacing:0.25em;
  background-color:inherit;
  color:#1B1B1B;
}
h2{
  font-size:48px;
  font-family:'Montserrat', sans-serif;
  font-weight:700;
  letter-spacing:0.25em;
  background-color:inherit;
  color:#1B1B1B;
}
h3{
  font-size:48px;
  font-family:'Montserrat',sans-serif;
  font-weight:400;
  letter-spacing:0.25em;
  background-color:inherit;
  color:#1B1B1B;
}
h4{
  font-size:36px;
  font-family:'Montserrat',sans-serif;
  font-weight:300;
  letter-spacing:0.25em;
  background-color:inherit;
  color:#1B1B1B;
}
h5{
  font-size:32px;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  letter-spacing:0.15em;
  background-color:inherit;
  color:#1B1B1B;
}
h6{
  font-size:28px;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  letter-spacing:0.05em;
  background-color:inherit;
  color:#1B1B1B;
}
.h7 {
  font-size:32px!important;
  font-family:'Montserrat',sans-serif!important;
  font-weight:400!important;
  background-color:inherit!important;
  color:#1B1B1B;
}
p {
  font-size:28px;
  font-family:'Raleway',sans-serif;
  font-weight:300;
  letter-spacing:0.05em;
  background-color:inherit;
  color:#1B1B1B;
}
.p2 {
  font-size:28px!important;
  font-family:'Raleway',sans-serif!important;
  font-weight:400!important;
  letter-spacing:0.05em!important;
  background-color:inherit!important;
  color:#1E2024!important;
}
.p3 {
  font-size:28px!important;
  font-family:'Roboto',sans-serif!important;
  font-weight:300!important;
  background-color:inherit!important;
  color:#969595!important;
}
.footer-text {
  font-size:28px!important;
  font-family:'Montserrat',sans-serif!important;
  font-weight:500!important;
  background-color:inherit!important;
  color:#9E9E9E!important;
}
a:link { /* a normal, unvisited link */
  text-decoration:underline;
}
a:visited { /* a link the user has visited */
  text-decoration:underline;
}
a:hover { /* a link when the user mouses over it */
  text-decoration:underline;
  background-color:inherit;
  color:#969595;
}
a:active { /* a link the moment it is clicked */
  background-color:inherit;
  color:#1B1B1B;
}
/* END GENERAL */


/* RESPONSIVE DESIGN */
@media (max-width:600px) /* for <600px */
{
  .hide-small {
    display:none!important;
  }
}

/* END RESPONSIVE DESIGN */


/* NAVBAR */
nav {
  position:fixed;
  width:100%;
  top:0;
  background-color:#FFFFFF;
  color:inherit;
  overflow:hidden;
  padding:8px 10px;
  text-align:center;
  z-index:999;
}
.navbar-item {
  /*float:right;*/
  font-family:"Montserrat",sans-serif;
  font-weight:400;
  letter-spacing:0.1em;
  text-decoration:none!important;
  background-color:inherit;
  color:inherit;
  padding:8px 10px;
  display:inline-block;
  text-align:center;
}
/* END NAVBAR */


/* LANDING */
.landing-wrapper{
  position:relative;
}
.landing-image {
  width:100%;
  height:100%;
  z-index:0;
}
.landing-text {
  font-size:4vw!important;
  text-align:center!important;
  letter-spacing:0.25em;
  background-color:transparent;
  color:#FFFFFF;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  white-space:nowrap;
}
/* END LANDING */


/* PROJECTS SECTION */

/* END PROJECTS SECTION */


/* FOOTER */


/* END FOOTER */
