/* GENERAL */
body {
  margin:0;
  padding:0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
h1{
  font-size:64px;
  font-family:'Montserrat', sans-serif;
  font-weight:800;
  letter-spacing:0.25em;
  background-color:inherit;
  color:#1B1B1B;
}
h2{
  font-size:48px;
  font-family:'Montserrat', sans-serif;
  font-weight:700;
  letter-spacing:0.25em;
  background-color:inherit;
  color:#1B1B1B;
  margin:0px;
}
h3{
  font-size:48px;
  font-family:'Montserrat',sans-serif;
  font-weight:400;
  letter-spacing:0.25em;
  background-color:inherit;
  color:#1B1B1B;
}
h4{
  font-size:28px;
  font-family:'Montserrat',sans-serif;
  font-weight:200;
  letter-spacing:0.25em;
  background-color:inherit;
  color:#1B1B1B;
}
h5{
  font-size:24px;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  letter-spacing:0.15em;
  background-color:inherit;
  color:#1B1B1B;
}
h6{
  font-size:22px;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  letter-spacing:0.05em;
  background-color:inherit;
  color:#1B1B1B;
}
.h7 {
  font-size:22px!important;
  font-family:'Montserrat',sans-serif!important;
  font-weight:300!important;
  background-color:inherit!important;
  color:#1B1B1B;
  margin:0px;
}
.btn-text {
  font-size:18px!important;
  font-family:'Montserrat',sans-serif!important;
  font-weight:300!important;
  background-color:inherit!important;
  color:#FFFFFF;
  margin:0px;
  text-decoration:none!important;
  margin:0px;
}
p {
  font-size:18px;
  font-family:'Raleway',sans-serif;
  font-weight:300;
  letter-spacing:0.03em;
  background-color:inherit;
  color:#1E2024;
}
.p2 {
  font-size:18px!important;
  font-family:'Raleway',sans-serif!important;
  font-weight:400!important;
  letter-spacing:0.05em!important;
  background-color:inherit!important;
  color:#1E2024!important;
}
.p3 {
  font-size:18px!important;
  font-family:'Roboto',sans-serif!important;
  font-weight:300!important;
  background-color:inherit!important;
  color:#969595!important;
  margin:0px;
}
.footer-text {
  font-size:28px!important;
  font-family:'Montserrat',sans-serif!important;
  font-weight:500!important;
  background-color:inherit!important;
  color:#9E9E9E!important;
}
a:link { /* a normal, unvisited link */
  text-decoration:underline;
}
a:visited { /* a link the user has visited */
  text-decoration:underline;
}
a:hover { /* a link when the user mouses over it */
  text-decoration:underline;
  background-color:inherit;
  color:#969595;
  /* transition? */
}
a:active { /* a link the moment it is clicked */
  background-color:inherit;
  color:#1B1B1B;
}
button {
  background-color:#1B1B1B;
  color:#FFFFFF;
  border:none;
  padding:7px 32px;
  text-align:center;
  text-decoration:none!important;
  display:inline-block;
  font-size:16px;
}
/* END GENERAL */


/* RESPONSIVE DESIGN */
@media (max-width:600px) /* for <600px */
{
  .hide-small {
    display:none!important;
  }
}
/* END RESPONSIVE DESIGN */


/* NAVBAR & OVERLAY */
#overlay {
  position:fixed;
  display:none; /* initially no overlay */
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.5);
  cursor:pointer;
  z-index:2;
}
.sidenav {
  height:100%;
  width:0;
  position:fixed;
  top:0;
  right:0;
  background-color:#FFFFFF;
  color:inherit;
  overflow-x:hidden;
  padding-top:75px;
  transition: 0.5s;
  text-align:center;
  z-index:10;
}
.hamburger {
  position:fixed;
  top:32px!important;
  right:32px!important;
  font-size:33px;
  cursor:pointer;
  right:0;
  font-color:#1B1B1B;
}
.sidenav a {
  /*float:right;*/
  font-family:"Montserrat",sans-serif;
  font-weight:400;
  font-size:13px!important;
  letter-spacing:0.1em;
  text-decoration:none!important;
  background-color:inherit;
  color:inherit;
  padding-left:60px;
  padding-top:12px;
  padding-bottom:12px;
  padding-right:24px;
  display:block;
  text-align:left;
}
.sidenav a:hover {
  background-color:inherit;
  color:#969595;
  /* transition? */
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* END NAVBAR & OVERLAY */


/* LANDING */
@media (min-width:601px) /* for >600px */
{
  .hero {
    position:relative;
    top:0;
    height:100vh;
    z-index:-1;
  }
  .hero-image {
    position:relative;
    overflow:hidden;
    top:0;
    height:100vh;
    /* height:100vh; */
    /*Landing Image*/
    background-image:url(../img/home/me.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;/*
    min-height:-webkit-fill-available;
    min-height:-moz-available;
    min-height:100%;*/
    z-index:-2;
  }
  .landing-text {
    display:block;
    font-size:4.6vw!important;
    text-align:center!important;
    letter-spacing:0.25em;
    background-color:transparent;
    color:#FFFFFF;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    white-space:nowrap;
  }
}
@media (max-width:600px) /* for <600px */
{
  .hero {
    position:relative;
    top:0;
    height:100vh;
    z-index:-1;
  }
  .hero-image {
    position:relative;
    overflow:hidden;
    top:0;
    width: 100%;
    height: 100%;
    height:-webkit-fill-available;
    height:-moz-available;
    /*Landing Image*/
    background-image:url(../img/home/smallerme.jpg);
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center center;
    background-attachment:local;
    z-index: -2;
  }
  .landing-text {
    display:block;
    font-size:5vw!important;
    text-align:center!important;
    letter-spacing:0.25em;
    background-color:transparent;
    color:#FFFFFF;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    white-space:nowrap;
  }
}
/* END LANDING */


/* CONTENT */
.page-content {
  margin-left:auto;
  margin-right:auto;
  max-width:1100px;
}
@media (min-width:601px){ /* desktop */
  .container{
    margin:100px 50px 100px 50px;
    position:static;
  }
  .section-header{
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
  }
  .section-subheader {
    text-align:center;
    margin-top:30px;
    margin-bottom:40px;
  }
}
@media (max-width:600px){ /* large mobile */
  .container{
    margin:100px 40px 100px 40px;
    position:static;
  }
  .section-header{
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
  }
  .section-subheader {
    font-size:20px!important;
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
  }
}
@media (max-width:350px){ /* small mobile */
  .container{
    margin:100px 35px 100px 35px;
    position:static;
  }
  .section-header{
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
  }
  .section-subheader {
    font-size:18px!important;
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
  }
}
.line{
  border:1px solid #1B1B1B!important;
  display: block;
  width:50px;
}
/* HOMEPAGE CONTENT */


/* ABOUT SECTION */
.about-text {
  text-align:center;
  background-color:inherit;
  color:#3B3B3B;
}
@media (min-width:601px){
  .about-text
  {
    font-size:22px!important;
    font-weight:200!important;
  }}
@media (max-width:600px){
  .about-text
  {
    font-size:18px!important;
    font-weight:200!important;
  }}
@media (max-width:400px){
  .about-text
  {
    font-size:16px!important;
    font-weight:200!important;
  }}
@media (max-width:350px){
  .about-text
  {
    font-size:14px!important;
    font-weight:200!important;
  }}
.about-links-container {
  color:inherit!important;
  background-color:inherit!important;
  text-align:center!important;
  padding-top:5px!important;
  padding-bottom:50px;
  display:block;
  width:auto;
}
.about-links {
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:100px;
  margin-left:auto;
  margin-right:auto;
}
@media (min-width:601px) { /* for >600px */
  .abt-link {
    flex:1; /* each item will take up 1 equally sized container */
    margin: 0px 30px;
  }
  .abt-link > img {
    width:30px;
  }
}
@media (max-width:600px) { /* for <600px */
  .abt-link {
    flex:1; /* each item will take up 1 equally sized container */
    margin: 0px 20px;
  }
  .abt-link > img {
    width:25px;
  }
}
@media (max-width:350px) { /* for <400px */
  .abt-link {
    flex:1; /* each item will take up 1 equally sized container */
    margin: 0px 18px;
  }
  .abt-link > img {
    width:20px;
  }
}
.abt-link:hover {
  background-color:inherit!important;
  color:#3B3B3B!important;
  text-decoration:none!important;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* END ABOUT SECTION */


/* PROJECTS SECTION */
/* Subject Filter */
.prj-list-container {
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:30px;
  margin-bottom:30px;
}
@media (min-width:775px) { /* desktop */
  .feat-prj-sel {
    font-size:22px!important;
    font-family:'Roboto',sans-serif;
    font-weight:100;
    letter-spacing:0.05em;
    background-color:inherit;
    color:#1B1B1B;
    margin:10px 25px;
    display:inline-block;
    text-decoration:none!important;
    flex-wrap:wrap;
    cursor:pointer;
  }
}
@media (max-width:775px) { /* medium */
  .feat-prj-sel {
    font-size:18px!important;
    font-family:'Roboto',sans-serif;
    font-weight:100;
    letter-spacing:0.05em;
    background-color:inherit;
    color:#1B1B1B;
    margin:10px 10px;
    display:inline-block;
    text-decoration:none!important;
    flex-wrap:wrap;
    cursor:pointer;
  }
}
@media (max-width:600px) { /* mobile */
  .feat-prj-sel {
    font-size:16px!important;
    font-family:'Roboto',sans-serif;
    font-weight:100;
    letter-spacing:0.05em;
    background-color:inherit;
    color:#1B1B1B;
    margin:10px 10px;
    display:inline-block;
    text-decoration:none!important;
    flex-wrap:wrap;
    cursor:pointer;
  }
}
@media (max-width:500px) { /* mobile */
  .feat-prj-sel {
    font-size:14px!important;
    font-family:'Roboto',sans-serif;
    font-weight:100;
    letter-spacing:0.05em;
    background-color:inherit;
    color:#1B1B1B;
    margin:10px 10px;
    display:inline-block;
    text-decoration:none!important;
    flex-wrap:wrap;
    cursor:pointer;
  }
}
@media (max-width:400px) { /* mobile small*/
  .feat-prj-sel {
    font-size:11px!important;
    font-family:'Roboto',sans-serif;
    font-weight:100;
    letter-spacing:0.05em;
    background-color:inherit;
    color:#1B1B1B;
    margin:7px 5px;
    display:inline-block;
    text-decoration:none!important;
    flex-wrap:wrap;
    cursor:pointer;
  }
}
/* Featured Projects */
.feat-prj-media
{
  max-width:100%; /* resize based on size of div its in */
  transition: transform ease 0.2s;
}
.feat-prj-media:hover
{
  transform: scale(1.08);
}
.feat-prj-descr
{
  display:table-cell; /* uses table style inline*/
  vertical-align:middle;
}
@media (min-width:600px) { /* desktop */
  .feat-prj-header {
    font-size:32px!important;
  }
  .feat-prj-header > a {
    text-decoration:none!important;
    color:#1B1B1B!important;
  }
  .feat-prj-text {
    font-size:24px!important;
  }
}
@media (max-width:950px) { /* medium */
  .feat-prj-header {
    font-size:25px!important;
  }
  .feat-prj-header > a {
    text-decoration:none!important;
    color:#1B1B1B!important;
  }
  .feat-prj-text {
    font-size:20px!important;
  }
}
@media (max-width:650px) { /* mobile */
  .feat-prj-header {
    font-size:20px!important;
  }
  .feat-prj-header > a {
    text-decoration:none!important;
    color:#1B1B1B!important;
  }
  .feat-prj-text {
    font-size:18px!important;
  }
}
@media (max-width:550px) { /* mobile */
  .feat-prj-header {
    font-size:18px!important;
  }
  .feat-prj-header > a {
    text-decoration:none!important;
    color:#1B1B1B!important;
  }
  .feat-prj-text {
    font-size:16px!important;
  }
}
@media (max-width:400px) { /* mobile */
  .feat-prj-header {
    font-size:16px!important;
  }
  .feat-prj-header > a {
    text-decoration:none!important;
    color:#1B1B1B!important;
  }
  .feat-prj-text {
    font-size:14px!important;
  }
}
.feat-prj-justright
{
  text-align:right;
  float:right;
}
@media (min-width:450px) { /* desktop */
  #feat-all
  {
    /* grid-template-columns:1fr 1fr; */
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    /* grid-template-rows:1fr 1fr 1fr 1fr; */
    margin-top:0px;
    display:grid;
    align-items:center;
    grid-gap:50px 50px;/*row col*/
  }
  #feat-electrical
  {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    /* grid-template-rows:2fr; */
    margin-top:0px;
    display:grid;
    align-items:center;
    grid-gap:50px 50px;/*row col*/
  }
  #feat-computer
  {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    /* grid-template-rows:1fr; */
    margin-top:0px;
    display:grid;
    align-items:center;
    grid-gap:50px 50px;/*row col*/
  }
  #feat-design
  {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    /* grid-template-rows:1fr; */
    margin-top:0px;
    display:grid;
    align-items:center;
    grid-gap:50px 50px;/*row col*/
  }
  #feat-business
  {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    /* grid-template-rows:1fr; */
    margin-top:0px;
    display:grid;
    align-items:center;
    grid-gap:50px 50px;/*row col*/
  }
}
@media (max-width:450px) { /* mobile */
  #feat-all
  {
    /* grid-template-columns:1fr 1fr; */
    grid-template-columns:1fr;
    /* grid-template-rows:1fr 1fr 1fr 1fr; */
    margin-top:50px;
    display:grid;
    align-items:center;
    grid-gap:50px 50px;/*row col*/
  }
  #feat-electrical
  {
    grid-template-columns:1fr;
    /* grid-template-rows:1fr; */
    margin-top:50px;
    display:grid;
    align-items:center;
    grid-gap:50px 50px;/*row col*/
  }
  #feat-computer
  {
    grid-template-columns:1fr;
    /* grid-template-rows:1fr; */
    margin-top:50px;
    display:grid;
    align-items:center;
    grid-gap:50px 50px;/*row col*/
  }
  #feat-design
  {
    grid-template-columns:1fr;
    /* grid-template-rows:1fr; */
    margin-top:50px;
    display:grid;
    align-items:center;
    grid-gap:50px 50px;/*row col*/
  }
  #feat-business
  {
    grid-template-columns:1fr;
    /* grid-template-rows:1fr; */
    margin-top:50px;
    display:grid;
    align-items:center;
    grid-gap:50px 50px;/*row col*/
  }
}
@media (min-width:450px) { /* desktop */
  .feat-prj-col1
  {
    grid-column:1 / 2;
  }
  .feat-prj-col2
  {
    grid-column:2 / 3;
  }
  .feat-prj-row1
  {
    grid-row:1 / 2;
  }
  .feat-prj-row2
  {
    grid-row:2 / 3;
  }
  .feat-prj-row3
  {
    grid-row:3 / 4;
  }
  .feat-prj-row4
  {
    grid-row:4 / 5;
  }
}
/* END PROJECTS SECTION */


/* FOOTER */
.pg-footer {
  color:inherit!important;
  background-color:inherit!important;
  color:inherit!important;
  text-align:center!important;
  padding-top:16px!important;
  padding-bottom:16px!important;
  display:block;
  width:auto;
}
.foot-hr {
  border: 0.9px solid #E5E5E5;
}
.foot-container {
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:1100px;
  margin-left:auto;
  margin-right:auto;
}
@media (min-width:601px) /* for >600px */
{
  .foot-text {
    flex:1; /* each item will take up 1 equally sized container */
    font-size:18px!important;
    font-family:'Montserrat',sans-serif!important;
    font-weight:400!important;
    background-color:inherit!important;
    color:#9E9E9E!important;
    text-decoration:none!important;
    margin: 30px 30px;
  }
}
@media (max-width:600px) /* for <600px */
{
  .foot-text {
    flex:1; /* each item will take up 1 equally sized container */
    font-size:16px!important;
    font-family:'Montserrat',sans-serif!important;
    font-weight:400!important;
    background-color:inherit!important;
    color:#9E9E9E!important;
    text-decoration:none!important;
    margin: 25px 10px;
  }
}
.foot-text:hover {
  background-color:inherit!important;
  color:#3B3B3B!important;
  text-decoration:none!important;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* END FOOTER */


/* RESUME */
.prj-pg {
  margin-left:auto;
  margin-right:auto;
  max-width:1100px;
  padding:50px 30px;
  position:static;
  margin-top:20px;
}
.prj-pg-sel {
  font-size:22px!important;
  font-family:'Montserrat',sans-serif!important;
  font-weight:400!important;
  letter-spacing:0.05em!important;
  background-color:inherit!important;
  color:#969595;
  margin:10px 25px;
  display:inline-block;
  text-decoration:none!important;
  flex-wrap:wrap;
  cursor:pointer;
}
#exp-btn {
  background-color:inherit!important;
  color:#969595;
}
#experience {
  display:block;
}
#edu-btn {
  background-color:inherit!important;
  color:#969595;
}
#education {
  display:none;
}
.prj-pg-container {
  display:grid;
  grid-template-columns:1fr 3fr;
  grid-template-rows:10fr;
  column-gap:30px;
  margin-top:50px;
}
.prj-pg-date {
  text-align:center;
  display:table-cell;
  vertical-align:middle;
}
/* .dt-sideways
{
  writing-mode:vertical-lr;
  text-orientation:sideways;
  transform: rotate(-180deg);
  font-size:7px;
  font-family:'Montserrat', sans-serif;
  font-weight:700;
  letter-spacing:0em;
  background-color:inherit;
  color:#1B1B1B;
} */
.prj-pg-hr {
  border:1px solid #1B1B1B!important;
  width:100%;
  text-align:center;
  margin:70px 0px;
}
.prj-space {
  margin-bottom:15px;
}
.prj-pg-r1-itm1 {
  grid-column:1/2;
  grid-row:1/2;
  display:table;
}
.prj-pg-r1-itm2 {
  grid-column:2/5;
  grid-row:1/2;
}
.prj-pg-r2-hr {
  grid-column:2/5;
  grid-row:2/3;
}
.prj-pg-r3-itm1 {
  grid-column:1/2;
  grid-row:3/4;
  display:table;
}
.prj-pg-r3-itm2 {
  grid-column:2/5;
  grid-row:3/4;
}
.prj-pg-r4-hr {
  grid-column:2/5;
  grid-row:4/5;
}
.prj-pg-r5-itm1 {
  grid-column:1/2;
  grid-row:5/6;
  display:table;
}
.prj-pg-r5-itm2 {
  grid-column:2/5;
  grid-row:5/6;
}
.prj-pg-r6-hr {
  grid-column:2/5;
  grid-row:6/7;
}
.prj-pg-r7-itm1 {
  grid-column:1/2;
  grid-row:7/8;
  display:table;
}
.prj-pg-r7-itm2 {
  grid-column:2/5;
  grid-row:7/8;
}
.prj-pg-r8-hr {
  grid-column:2/5;
  grid-row:8/9;
}
.prj-pg-r9-itm1 {
  grid-column:1/2;
  grid-row:9/10;
  display:table;
}
.prj-pg-r9-itm2 {
  grid-column:2/5;
  grid-row:9/10;
}
.prj-pg-r10-hr {
  grid-column:2/5;
  grid-row:10/11;
}
.resume-btn {
  margin: 30px 30px;
  text-align:center;
}
/* END RESUME */


/* PROJECT 1 */
.prj1-landing {
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
@media (min-width:500px) {
  .prj1-landing-text {
    text-align:center;
  }
}
@media (max-width:500px) {
  .prj1-landing-text {
    text-align:center;
    font-size:8vw;
  }
}
.prj1-wide-img {
  width:100%;
}
.prj1-container {
  width:75%;
  margin: 200px auto;
}
@media (min-width:851px) /* for >851px */
{
  .id-space {
    margin:10px 0px!important;
  }
  .id-first {
    font-size:28px!important;
    font-family:'Montserrat',sans-serif!important;
    font-weight:400!important;
    letter-spacing:0.15em!important;
    background-color:inherit!important;
    color:#1B1B1B!important;
  }
  .id-sec {
    font-size:28px!important;
    font-family:'Montserrat',sans-serif!important;
    font-weight:700!important;
    letter-spacing:0.15em!important;
    background-color:inherit!important;
    color:#1B1B1B!important;
  }
  .prj1-text {
    line-height:30px;
    background-color:inherit;
    color:#1E2024!important;
  }
  .prj1-toc {
    margin: 25px 0px!important;
  }
  .prj1-toc-el {
    text-decoration:none!important;
    color:#1B1B1B;
  }
}
@media (max-width:850px) /* for <850px */
{
  .id-space {
    margin:0px 0px!important;
  }
  .id-first {
    font-size:3.4vw!important;
    font-family:'Montserrat',sans-serif!important;
    font-weight:400!important;
    letter-spacing:0.15em!important;
    background-color:inherit!important;
    color:#1B1B1B!important;
  }
  .id-sec {
    font-size:3.4vw!important;
    font-family:'Montserrat',sans-serif!important;
    font-weight:700!important;
    letter-spacing:0.15em!important;
    background-color:inherit!important;
    color:#1B1B1B!important;
  }
  .prj1-text {
    line-height:7vw!important;
    background-color:inherit;
    color:#1E2024!important;
    font-size:3.5vw!important;
  }
  .prj1-toc {
    margin: 0.2vw 0px!important;
  }
  .prj1-toc-el {
    text-decoration:none!important;
    color:#1B1B1B;
    font-size:3vw!important;
  }
}
/* Reveal Effect */
@media (min-width:600px) { /* desktop */
  .reveal {
    position:relative;
    opacity:0; /* hide until active class is added */
    transform:translateY(450px);
    transition:2s all ease;
  }
}
@media (max-width:600px) { /* mobile */
  .reveal {
    position:relative;
    opacity:0; /* hide until active class is added */
    transform:translateY(250px);
    transition:1s all ease;
  }
}
.reveal.active {
  transform:translateY(0);
  opacity:1;
}
/* END PROJECT 1 */


/* PROJECT 2 */
.prj2-landing {
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
@media (min-width:500px) {
  .prj2-landing-text {
    text-align:center;
  }
}
@media (max-width:500px) {
  .prj2-landing-text {
    text-align:center;
    font-size:8vw;
  }
}
.prj2-container {
  width:80%;
  margin: 200px auto;
}
.prj2-descr {
  text-align:center;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:1fr;
  column-gap:30px;
  margin-top:30px;
  margin-bottom:30px;
}
@media (min-width:601px) /* for >600px */
{
  .prj2-r1-itm {
    text-align:center;
    grid-row:1/2;
    margin:15px 15px;
    display:block;
  }
  .prj2-r1-txt {
    font-size:32px!important;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    letter-spacing:0.15em;
    background-color:inherit;
    color:#1B1B1B;
    margin:0px;
    vertical-align:top;
  }
  .prj2-p2
  {
    font-size:18px!important;
    font-family:'Raleway',sans-serif!important;
    font-weight:400!important;
    letter-spacing:0.05em!important;
    background-color:inherit!important;
    color:#1E2024!important;
  }
}
@media (max-width:600px) /* for <600px */
{
  .prj2-r1-itm {
    text-align:center;
    grid-row:1/2;
    margin:15px 10px;
    display:block;
  }
  .prj2-r1-txt {
    font-size:20px!important;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    letter-spacing:0.15em;
    background-color:inherit;
    color:#1B1B1B;
    margin:0px;
    vertical-align:top;
  }
  .prj2-p2
  {
    font-size:14px!important;
    font-family:'Raleway',sans-serif!important;
    font-weight:400!important;
    letter-spacing:0.05em!important;
    background-color:inherit!important;
    color:#1E2024!important;
  }
}
@media (max-width:500px) /* for <600px */
{
  .prj2-r1-itm {
    text-align:center;
    grid-row:1/2;
    margin:15px 5px;
    display:block;
  }
  .prj2-r1-txt {
    font-size:14px!important;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    letter-spacing:0.15em;
    background-color:inherit;
    color:#1B1B1B;
    margin:0px;
    vertical-align:top;
  }
  .prj2-p2
  {
    font-size:10px!important;
    font-family:'Raleway',sans-serif!important;
    font-weight:400!important;
    letter-spacing:0.05em!important;
    background-color:inherit!important;
    color:#1E2024!important;
  }
}
/* END PROJECT 2 */
